
@font-face {
  font-family: PokemonGB;
  src: url("fonts/Pokemon GB.ttf");
} 
body {
  font-family: PokemonGB;
}
.card {
  margin-top: 25px;
  margin-left: 823px;
  border: 2px solid black;  
  visibility: hidden;
  font-size: 14px;

}

.card-title {
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
}
.search {
   
    padding: 12px 20px 12px 40px;
    width: 15%;
    background-color: white;
    background-image:url(Images/searchlogo.png);
    background-size: 50px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 55px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 823px; 
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-size: 13px;
  }


  .card-link {
    background: linear-gradient(to right,#196BCA ,#6433E0);
    background-color: #196BCA;
    color: #fff;
    font-family: Pokemon GB;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 3px 10px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    border: 1px solid black;
}

.card-link:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.card-link:active {
    position:relative;
	top:1px;  
}


#stat1 {
  font-weight: bold;
  font-size: 20px;

}
#stat2{
  font-weight: bold;


}

#stat3{
  font-weight: bold;


}

@-webkit-keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
    
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
